@import 'assets/scss/variables';

.chatMessage {
  &__bubble {
    display: flex;
    flex: 1 1 auto;
    clear: both;

    &__message {
      font-size: 0.9rem;
      border-radius: 10px;
      padding: 0.5rem 1rem;
      margin: 0.3rem 0.8rem;
      max-width: 80%; /* this will make it not exceed 80% and then wrap */
      transition: background-color 0.5s;
      font-family: $weight-light;

      &--timestamp {
        font-size: 0.6rem;
        float: right;
        margin: 8px -4px -4px 8px;
      }
    }

    &--left {
      justify-content: flex-start;
      .chatMessage__bubble__message {
        background: $blue-alt;
        color: white;
      }
    }
    &--right {
      justify-content: flex-end;
      .chatMessage__bubble__message {
        background: $grey;
        color: $dark;
      }
    }
  }
}
