@import 'assets/scss/variables';

.chatMessages {
  flex: 1 1 auto;
  overflow-y: auto;

  &__unread {
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
    position: sticky;
    top: 0;
    background: $grey-lighter;
    padding: 0.5rem;
    margin: 0 0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
