@import 'assets/scss/variables';

.chat {
  &__header {
    font-family: $weight-heavy;
    font-size: 1.5rem;
    margin: 0 !important;
    color: $blue;
    border-bottom: 2px solid $grey-lighter;

    @media only screen and (max-width: $mobile) {
      margin: 1rem 0;
    }

    @media only screen and (max-width: $tablet) {
      margin: 1rem;
    }

    &__left {
      padding: 1.5rem 1rem 1.5rem 2rem !important;
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      .view-archive {
        font-size: 1rem;
        font-family: $weight-light;
        color: $dark;
      }
    }

    &--user {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2rem;
    }

    &--divider {
      width: 100%;
      border-bottom: 2px solid $grey-lighter;
    }
  }

  &__content {
    height: calc(100vh - 11.9rem);
    display: flex;
    flex-direction: column;
  }
}
