@import 'assets/scss/variables';

.prevRoundSummary {
  @media only screen and (max-width: $tablet) {
    margin-left: 0;
  }

  &__data {
    margin-bottom: 0.5rem;
    &--label {
      white-space: nowrap;
      line-height: 1.8rem;
      font-family: $weight-light;
      font-size: 0.9rem;
    }

    &--value {
      font-family: $weight-heavy;
      font-size: 2rem;
      white-space: nowrap;

      @media only screen and (max-width: $mobile) {
        font-size: 1.5rem;
      }
    }
  }

  &__chart {
    margin-left: -1.3rem;
  }
}
