@import 'assets/scss/variables';

.chatInput {
  padding: 1rem 2rem;

  &__button--enter {
    display: flex;
    align-items: center;
    margin-left: 0.8rem !important;

    button {
      color: $blue;
    }
  }
}
