@import 'assets/scss/variables';

.button {
  border-radius: 10px;
  &--cta {
    font-size: 1.1rem;
    font-family: $weight-heavy;
    background-image: $action-button-bg;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  &--danger {
    font-size: 1.1rem;
    font-family: $weight-heavy;
    background-image: $danger-button-bg;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  &--success {
    font-size: 1.1rem;
    font-family: $weight-heavy;
    background-image: $success-button-bg;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  }

  &--nav {
    &--circle {
      border-radius: 50% !important;
      height: 2rem;
      width: 2rem;
    }
  }
}
