@charset "utf-8";

@import 'assets/scss/variables.scss';
@import 'assets/scss/animations.scss';
@import 'bulma/bulma.sass';
@import 'bulma-extensions/bulma-divider/src/sass/index.sass';
@import 'bulma-extensions/bulma-badge/src/sass/index.sass';

body {
  position: relative;
  z-index: -2;
  color: $dark;
}

a {
  font-weight: bold;

  &.font-light {
    font-weight: normal;
  }
}

.tabs {
  ul li {
    .action-button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-weight: bold;
      border-radius: 20px;
      cursor: pointer;
      outline: none;

      &:hover {
        color: #363636;
      }

      &:focus {
        box-shadow: inset 0 0 3px rgb(59, 153, 252);
      }
    }

    &.is-active {
      .action-button {
        background: $action-button-bg;
        color: $white;
        cursor: default;
      }
    }
  }
}

.message {
  font-weight: bold;
}

.columns {
  @media screen and (max-width: $desktop) {
    &.is-multiline-desktop {
      flex-wrap: wrap;
    }
  }
}
