@charset "utf-8";

@import 'assets/scss/variables.scss';
@import 'assets/scss/animations.scss';
@import 'bulma/bulma.sass';
@import 'bulma-extensions/bulma-divider/src/sass/index.sass';

body {
  position: relative;
  z-index: -2;
  color: $dark;
}

a {
  font-family: $weight-heavy;

  &.font-light {
    font-family: $weight-light;
  }
}

.tabs {
  ul li {
    .action-button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-family: $weight-heavy;
      border-radius: 20px;
      cursor: pointer;
      outline: none;

      &:hover {
        color: #363636;
      }

      &:focus {
        box-shadow: inset 0 0 3px rgb(59, 153, 252);
      }
    }

    &.is-active {
      .action-button {
        background: $action-button-bg;
        color: $white;
        cursor: default;
      }
    }
  }
}

.is-container {
  @media only screen and (min-width: $mobile) {
    margin-top: 2.5rem;
    height: calc(100% - 6.5rem);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 2px 20px 0 hsla(0, 0%, 0%, 0.12);

    &:before {
      content: '';
      background: url('../images/container-bg.svg') no-repeat;
      background-size: 100%;
      width: 112%;
      max-width: 100vw;
      height: 103%;
      position: absolute;
      left: -6%;
      bottom: 0;
      z-index: -1;
    }
  }

  @media only screen and (max-width: $mobile) {
    width: 100% !important;
    min-height: calc(100vh - 4rem);
  }

  min-height: calc(100vh - 6.5rem);
  background-color: white;
  position: relative;
  padding: 0;

  .content-container {
    .header-container {
      height: 3rem;
    }

    .page-content-container {
      height: 100%;
    }
  }
}
