@charset "utf-8";

@import 'assets/scss/variables.scss';
@import 'bulma/bulma.sass';
@import 'bulma-pageloader/src/sass/index.sass';

body {
  position: relative;
  z-index: -2;
  background: $light;
}

.tabs {
  ul li {
    .action-button {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
      font-family: 'Nexa Bold' !important;
      border-radius: 20px;
      cursor: pointer;
      outline: none;

      &:hover {
        color: #363636;
      }

      &:focus {
        box-shadow: inset 0 0 3px rgb(59, 153, 252);
      }
    }

    &.is-active {
      .action-button {
        background: $action-button-bg;
        color: $white;
        cursor: default;
      }
    }
  }
}

.is-container {
  position: absolute;
  bottom: 0;
  height: calc(100% - 6.5rem);
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 20px 0 hsla(0, 0%, 0%, 0.12);

  &:before {
    content: '';
    background: url('../images/container-bg.svg') no-repeat;
    background-size: 100%;
    width: 112%;
    max-width: 100vw;
    height: 103%;
    position: absolute;
    left: -6%;
    bottom: 0;
    z-index: -1;
  }

  .content-container {
    position: relative;
    height: 100%;
    overflow: auto;

    .header-container {
      height: 3rem;
    }

    .page-content-container {
      height: calc(100% - 3rem);
    }
  }
}
