// Note: This scss file must be imported when using 'react-modal'
@import 'assets/scss/variables';

.ReactModal {
  &__Body--open,
  &__Html--open {
    overflow: hidden;
  }

  &__Overlay {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    &--after-open {
      opacity: 1;
    }
    &--before-close {
      opacity: 0;
    }
  }
}

.modal {
  &__content {
    position: relative;
    border: 1px solid #ccc;
    background: #fff;
    overflow: auto;
    border-radius: 15px;
    outline: none;
    padding: 2rem;
    margin: 0 1rem;
    max-height: calc(100vh - 40px);
    width: 100%;

    @media only screen and (min-width: $tablet) {
      width: 50rem;
    }
  }
  &__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(89, 95, 111, 0.5);
  }

  &__header {
    font-size: 1.5rem;
  }

  &__text {
    font-weight: normal;
    line-height: 2rem;

    &--subtext {
      font-size: 0.8rem;
    }

    &--link {
      font-weight: normal;
      text-decoration: underline;
      color: $dark;
    }
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  &__trigger {
    display: inline-flex;
    align-items: center;
    line-height: 1.2rem;
    font-weight: normal;
    color: $blue;

    .icon {
      font-size: 1.5rem;
    }

    &--text {
      margin-left: 0.5rem;
      font-size: 0.9rem;
      text-align: start;
    }
  }

  &__actions {
    text-align: right;
    padding-top: 1rem;
  }
}
