@import 'bulma/sass/utilities/_all.sass';

// Start variables here
$mobile: 576px !default;

$navbar-height: 4rem;
$navbar-dropdown-arrow: $grey-dark;
$navbar-breakpoint: $mobile;

// Brand colors
$green: #26cb6b;
$blue: #1f4190;
$red: #fa2b56;
$light: #f7f8fb;
$dark: #595f6f;
$grey-light: #bfc4ce;
$grey-lighter: #dddfe7;

$link: $blue;
$success: $green;
$danger: $red;

$action-button-bg: linear-gradient(
  45deg,
  rgba(38, 126, 208, 1) 0%,
  rgba(85, 96, 232, 1) 100%
);

// Set your brand colors
// $purple: #8a4d76;
// $pink: #fa7c91;
// $brown: #757763;
// $beige-light: #d0d1cd;
// $beige-lighter: #eff0eb;

// Update Bulma's global variables
// $family-sans-serif: "Nunito", sans-serif;
// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;
