@import 'assets/scss/variables';
@import 'assets/scss/buttons';

.art-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 1rem;
}

.content-container {
  .form {
    &__field {
      input {
        height: 2.75rem;
      }

      &__icon {
        height: 2.75rem !important;
        width: 2.75rem !important;
      }
    }

    .auth-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;
      padding-right: 0.5rem;
      &__button {
        min-width: 40%;
      }
    }

    label {
      font-family: 'Nexa Light';
      font-weight: normal;

      &.label {
        padding-left: 0.5rem;
      }
    }

    .actions-wrapper {
      margin-top: 1.5rem;

      .forget-password-link {
        font-size: 0.85rem;
      }
    }
  }

  h1.form-title {
    font-family: 'Nexa Bold';
    font-size: 2rem;
    margin: 2rem 0;
    padding-left: 0.5rem;
  }
}
