@import 'assets/scss/variables';

.proceedConfirmation {
  .confirmation {
    &Error {
      &__message {
        font-family: $weight-heavy;
      }
    }

    &__details {
      text-align: center;
      margin-bottom: 3rem;
      &__label {
        font-family: $weight-heavy;
        padding-bottom: 0.2rem;
      }

      &__value {
        font-size: 1.4rem;
        padding-bottom: 0.6rem;
        font-family: $weight-light;
      }
    }

    &__action {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 2rem;

      button {
        min-width: 7rem;
        min-height: 3rem;
      }
    }
  }
}

.estimate__amount {
  &--currency {
    font-size: 1.4rem;
    font-family: $weight-heavy;
  }
  &--amount {
    font-size: 1.4rem;
    font-family: $weight-light;
  }
}
