@import 'assets/scss/variables';

.successfulMatch {
  padding: 1rem;
  padding-bottom: 0;
  text-align: center;
  color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobile) {
    padding-top: 0.5rem;
  }

  &__details {
    min-width: 50%;
    color: $dark;

    &--text {
      font-size: 0.8rem;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__details {
      font-size: 1.1rem;

      .column {
        padding: 0 0.5rem;
      }
      &--value {
        font-weight: bold;
        padding-left: 0.5rem;
      }
    }
  }

  &__header {
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1rem;

    @media screen and (max-width: $mobile) {
      font-size: 1rem;
    }
  }

  &__content {
    padding: 0 1rem;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: $mobile) {
      padding-bottom: 1rem;
    }
  }

  &__button {
    border-radius: 20px;
    background: $grey;
    padding: 0.5rem 2rem;
    font-weight: bold;
    color: $blue;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0.5rem 0;

    &:not(:disabled) {
      &:hover,
      &:focus,
      &:active {
        box-shadow: 0 0 6px 0 rgba($blue, 0.6);
      }
    }

    &:disabled {
      cursor: not-allowed;
      color: $dark;
      box-shadow: none;
    }

    @media screen and (max-width: $mobile) {
      font-size: 0.9rem;
    }
  }
}

.successfulMatchIdentities {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;

  @media screen and (max-width: $tablet) {
    padding-top: 0;
  }

  &__bubble {
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid;
    background: white;
    padding: 0.4rem 1rem 0.8rem 1rem;
    transition: background-color 0.5s;
    min-width: 14rem;
    max-width: 14rem;
    height: 100%;

    @media screen and (max-width: $tablet) {
      min-width: 12rem;
      max-width: 12rem;
    }

    @media screen and (max-width: $mobile) {
      min-width: 10rem;
      max-width: 10rem;
    }
  }

  &__container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    &__right {
      padding-left: 0.5rem;
      text-align: right;
      margin-left: auto;
    }

    &__left {
      padding-right: 0.5rem;
      text-align: left;
      margin-right: auto;
    }
  }

  &--name {
    font-weight: bold;
    font-size: 1.1rem;

    @media screen and (max-width: $tablet) {
      font-size: 1rem;
    }
  }

  &--email {
    font-weight: normal;
    overflow-wrap: break-word;
  }
}
