@import 'assets/scss/variables';

.admin__content {
  &:not(:first-child) {
    margin-top: 3rem;

    @media only screen and (max-width: $mobile) {
      margin-top: 1rem;
    }
  }
}
.incomingUsers {
  &__container {
    min-height: 10rem;
    border: 2px solid white;
    padding: 0.5rem;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 1fr;
  }
}
