@import 'assets/scss/variables';

.successfulMatch {
  padding-top: 0.5rem;
  text-align: center;
  color: $blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $mobile) {
    padding: 1rem;
  }

  &__header {
    font-size: 1.1rem;
    font-family: $weight-heavy;
  }

  &__content {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__button {
    border-radius: 20px;
    background: $grey;
    padding: 0.5rem 2rem;
    font-family: $weight-heavy;
    color: $blue;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.16);
    margin: 0.5rem 0;

    &:hover,
    &:focus,
    &:active {
      box-shadow: 0 0 6px 0 rgba($blue, 0.6);
    }
  }
}
