@import 'assets/scss/variables';

.deleteConfirmation {
  &__subheader {
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-family: $weight-light;
  }

  .confirmation__action {
    margin-top: 2rem;
  }

  .page__content {
    margin: 2rem;

    @media only screen and (max-width: $tablet) {
      margin: 1rem;
    }
  }
}
