@import 'assets/scss/variables';

.currentMarketPrice {
  margin-right: 2rem;
  &__price {
    font-family: $weight-heavy;
    font-size: 1.3rem;

    &__value {
      font-size: 2rem;

      &--empty {
        opacity: 0.4;
      }
    }
  }
}
