@import 'assets/scss/variables';

.chatrooms {
  border-right: 2px solid $grey-lighter;
  height: calc(100vh - 12rem);
  overflow-y: scroll;
  overflow-y: auto;

  &__status {
    float: right;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    &--online {
      background-color: #00ff7f;
    }
    &--offline {
      background-color: red;
    }
  }
}
