@import 'assets/scss/variables';

.chatrooms {
  position: relative;
  border-right: 2px solid $grey-lighter;
  height: calc(100vh - 12rem);
  overflow-y: scroll;
  overflow-y: auto;

  @media screen and (max-width: $tablet) {
    border-right: none;
  }

  &__empty {
    display: flex;
    flex-direction: column;

    .errorMessage {
      position: absolute;
      margin: 1rem;
    }
    &--empty {
      flex: 1 1;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      &Text {
        margin-top: 1rem;
      }
    }
  }

  &__status {
    float: right;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    &--online {
      background-color: #00ff7f;
    }
    &--offline {
      background-color: red;
    }
  }
}
