.form-wrapper {
  .field-body {
    margin-bottom: 0.75rem;
  }

  .show-password {
    pointer-events: all !important;
    cursor: pointer;
    background: transparent;
    border: none;
    font-size: inherit;
    height: 100%;
  }

  .referral {
    display: flex !important;
    align-items: center;
    .optional {
      margin-left: 0.3rem;
      font-size: 0.8rem;
      opacity: 0.8;
    }
  }

  .signup-button {
    margin-top: 2.25rem;
  }

  .progress-bar-container {
    display: flex;
    align-content: center;
    margin: 1rem 0;
    .progress {
      max-width: 70%;
      margin: auto;
      height: 0.3rem;
    }

    .progress-bar-text {
      display: flex;
      align-items: center;
      font-size: 0.8rem;
      color: #aaa;
      margin-left: 1rem;
      transition: 0.2s;
      min-width: 30%;
    }
  }
}
