@charset "utf-8";

@import 'assets/scss/variables.scss';
@import 'bulma/bulma.sass';
@import 'bulma-pageloader/src/sass/index.sass';

.is-container {
  @include from($mobile) {
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 2px 20px 0 #e1e0e9;
    padding: 1.5rem !important;
  }
}

body {
  background: linear-gradient(to bottom, #f6f6f9 0%, #ffffff 100%);
}
