@charset "utf-8";

@import 'assets/scss/variables.scss';
@import 'bulma/bulma.sass';
@import 'bulma-pageloader/src/sass/index.sass';

body {
  position: relative;
  z-index: -2;
  background: $light;
}

.is-container {
  position: absolute;
  bottom: 0;
  height: calc(100% - 6.5rem);
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 2px 20px 0 hsla(0, 0%, 0%, 0.12);

  &:before {
    content: '';
    background: url('../assets/images/container-bg.svg') no-repeat;
    background-size: 100%;
    width: 112%;
    max-width: 100vw;
    height: 103%;
    position: absolute;
    left: -6%;
    bottom: 0;
    z-index: -1;
  }
}
