@import 'assets/scss/variables';

.chatMessages {
  flex: 1 1 auto;
  overflow-y: auto;

  &__group {
    text-align: center;
  }

  &__unread {
    z-index: 1;
    font-size: 0.8rem;
    cursor: pointer;
    text-transform: capitalize;
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 1rem);
    position: sticky;
    top: 0;
    background: $grey-lighter;
    padding: 0.8rem 0.5rem;
    margin: 0 0.5rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__dateline {
    font-weight: bold;
    color: $grey-light;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.8rem;
    position: sticky;
    top: 0.5rem;
    margin: 0.5rem 0;

    &--value {
      background: white;
      padding: 0.2rem 1rem;
      border-radius: 1rem;
    }
  }

  &__scrollButton {
    width: 2rem;
    height: 2rem;
    border-radius: 2rem;

    &:after {
      content: '\f078';
      font-weight: 900 !important;
      font-family: $fontawesome;
      color: white;
      padding-top: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
