@import 'assets/scss/variables';

.roundDetails {
  text-align: center;
  .roundDetails__content {
    margin-bottom: 3rem;
    .countdownDetails {
      color: $dark;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      &__header {
        font-family: $weight-heavy;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
      }
      &__text {
        font-family: $weight-light;
      }

      &__timer {
        display: flex;

        &__colon {
          &:before {
            content: ':';
          }
          padding: 0 0.5rem;
          font-size: 4rem;
          font-family: $weight-heavy;

          @media only screen and (max-width: $mobile) {
            font-size: 2rem;
          }
          @media only screen and (max-width: 380px) {
            font-size: 1.5rem;
            padding: 0 0.2rem;
          }
        }

        &__counter {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          min-width: 6rem;

          @media only screen and (max-width: $mobile) {
            min-width: 2rem;
          }
          @media only screen and (max-width: 380px) {
            min-width: 1.5rem;
          }

          &__value {
            font-size: 4rem;
            margin-bottom: -1rem;
            font-family: $weight-heavy;

            @media only screen and (max-width: $mobile) {
              font-size: 2rem;
              margin-bottom: -0.5rem;
            }
            @media only screen and (max-width: 380px) {
              font-size: 1.5rem;
            }
          }

          &__text {
            font-family: $weight-light;

            @media only screen and (max-width: $mobile) {
              font-size: 0.9rem;
            }
          }
        }
      }
    }
  }
}
