@import 'assets/scss/variables';

.navbar {
  @media only screen and (max-width: $mobile) {
    padding: 0;
  }
  padding: 0 1rem;
  background: $body-bg;

  &--background-white {
    background: white;
  }

  &--admin {
    background-color: $dark !important;
  }
}
