@import 'assets/scss/variables';
@import 'assets/scss/buttons';

.main {
  &__header {
    font-family: 'Nexa Bold';
    font-size: 1.5rem;
    margin: 3rem 2rem;
    color: $blue;

    @media only screen and (max-width: $mobile) {
      margin: 1rem 0;
    }
  }

  &__content {
    margin: auto 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $mobile) {
      margin: 0;
    }

    &__divider {
      width: 100%;
    }
  }

  .is-divider {
    margin: 3rem 0;
  }
}
