@import 'assets/scss/variables';
@import 'assets/scss/form';

.bidPage {
  .form {
    &__field {
      input {
        text-align: end;
      }
    }

    .estimate {
      padding: 0 0.5rem;
      margin-bottom: 4rem;
      &__label {
        font-family: 'Nexa Bold';
      }

      &__amount {
        text-align: end;
        font-size: 1.2rem;

        &--currency {
          font-family: 'Nexa Bold';
          margin-right: 0.4rem;
        }

        &--amount {
          font-family: 'Nexa Light';
        }
      }
    }

    .actions {
      justify-content: center;
      .control {
        button {
          min-width: 7rem;
          min-height: 3rem;
        }
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
      }
    }
  }
}
