@import 'assets/scss/variables';

.page {
  &__header {
    font-family: $weight-heavy;
    font-size: 1.5rem;
    margin: 3rem 2rem;
    color: $blue;

    @media only screen and (max-width: $mobile) {
      margin: 1rem 0;
    }

    @media only screen and (max-width: $tablet) {
      margin: 1rem;
    }
  }

  &__content {
    margin: 3rem 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media only screen and (max-width: $tablet) {
      margin: auto 1rem;
      margin-bottom: 2rem !important;
    }
  }

  .form {
    label.label {
      font-family: $weight-heavy;
    }
    &__field {
      input {
        height: 2.75rem;
        font-family: $weight-light;
        font-size: 1.2rem;
      }

      .control {
        .button {
          font-family: $weight-heavy;
          font-size: 1.2rem;
          height: 2.75rem;
          line-height: 1.2rem;
          color: $dark !important;
        }
      }
    }
  }
}
