@import 'assets/scss/variables';
@import 'bulma/sass/components/navbar';

.profile-dropdown {
  .is-container {
    border-top: none;
  }
  .avatar {
    margin-right: 1rem;
  }
  button.navbar-link,
  button.navbar-item {
    font-size: 0.875rem;
    width: 100%;
    text-align: start;
    outline: none;
    cursor: pointer;

    &:focus,
    &:hover {
      background-color: $navbar-dropdown-item-hover-background-color;
      color: $navbar-dropdown-item-hover-color;
    }
    &.is-active {
      background-color: $navbar-dropdown-item-active-background-color;
      color: $navbar-dropdown-item-active-color;
    }
  }

  .navbar-item {
    .icon {
      margin-right: 0.5rem;
    }
  }
}
