@import 'assets/scss/variables';

.form {
  .login {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-right: 0.5rem;

    .remember-me {
      display: flex;
      align-items: center;
    }

    &__button {
      min-width: 40%;
      border-radius: 15px;
      font-size: 1.1rem;
      font-family: 'Nexa Bold' !important;
      background-image: $action-button-bg;
      color: white;
    }
  }
}
