@import 'assets/scss/variables';

.login {
  &__type {
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2rem;
    font-family: $weight-light;
    display: flex;

    @media only screen and (max-width: $tablet) {
      justify-content: center;
    }
  }

  &__action {
    display: inline-flex;
    flex-direction: column;
    margin-top: 6rem;

    @media only screen and (max-width: $tablet) {
      margin-top: 3rem;
    }

    .modal__trigger {
      margin-top: 1rem;
    }
  }

  &__button {
    line-height: 1.8rem;
    min-width: 20rem;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;

    @media only screen and (max-width: $tablet) {
      min-width: fit-content;
    }
  }
}
