code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

iframe {
  height: 100%;
}

html {
  overflow-y: auto;
  font-size: 16px;
}

.field label {
  pointer-events: none;
}

body {
  min-height: 100vh;
  font-family: Muli, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button,
input {
  font-family: inherit !important;
}

button {
  border: none;
  background: none;
}
